.o-column {
    max-height: 70vh;
    padding: 1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 1;

    &:first-child {
        // padding-left: 1rem;
    }

    &:last-child {
        // padding-right: 1rem;
    }

    &--focus {
        z-index: 5;
    }
}