.o-grid {
    display: grid;
    // height: 80vh;
    overflow: hidden;
    position: relative;

    @include breakpoint(tablet) {
        grid-template-columns: 1fr 1fr;
    }

    @include breakpoint(laptop) {
        // grid-template-columns: repeat(1);
    }

    // margin: -1rem;

    & > div {
        // margin: 1rem;
    }
}