$color-background: #3d3e40;
$color-miground: #eaf1f1;
$color-foreground: #ffffff;

$brand-primary: #305c8a;
$brand-success: #92c741;
$brand-info:    #1baae2;
$brand-warning: #f67c31;
$brand-danger:  #d9534f;